---
title: 32-bit Sony Ranking
---
<div class="title">
  <h1>A <span style="font-size: 0.8rem">(someday)</span> complete ranking of all US-released Sony Playsation games</h1>
  <h3>(as well as any games exclusive to the PAL region, or the JP region if there is a fan translation)</h3>
</div>
<br><br>

<section class="header">
  <div class="left">
    <img width=400px src="assets/images/psx.gif">
  </div>
  <div class="right">
    <img width=400px src="assets/images/dancing-crash.gif">
  </div>
</section>

<section class="the-list">
  <table id="ranking" border="1">
    <thead>
      <tr>
        <th class="rank" data-sort-method='number' data-sort-default>#</th>
        <th class="title">Game</th>
        <th class="region">Region</th>
        <th class="date" data-sort-method='dotsep'>Release Date</th>
        <th class="dev">Developer(s)</th>
        <th class="ep" data-sort-method='dotsep'>Ep<span>isode</span></th>
        <th class="timestamp" data-sort-method='dotsep'>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for item in site.data.list %}
      {% assign wiki_data = nil %}
      {% assign screenshot = nil %}
      {% assign licensed = true %}

      {% if item.wiki_line %}
        {% assign line = item.wiki_line | split: "_" %}
        {% assign i = line[1] | to_integer %}
        {% if line[0] == "u" %}
          {% assign wiki_data = site.data.us_releases[i] %}
        {% else %}
          {% assign wiki_data = site.data.imports[i] %}
          {% if wiki_data %}{% assign licensed = false %}{% endif %}
        {% endif %}
      {% endif %}

      {% unless wiki_data %}
        {% assign wiki_data = site.data.us_releases | where: "title", item.game | first %}
      {% endunless %}
      {% unless wiki_data %}
        {% assign wiki_data = site.data.imports | where: "title", item.game | first %}
        {% if wiki_data %}{% assign licensed = false %}{% endif %}
      {% endunless %}
      {% unless wiki_data %}
        {% assign wiki_data = site.data.us_releases | where_exp: "game", "game.title contains item.game" | first %}
      {% endunless %}
      {% unless wiki_data %}
        {% assign wiki_data = site.data.imports | where_exp: "game", "game.title contains item.game" | first %}
        {% if wiki_data %}{% assign licensed = false %}{% endif %}
      {% endunless %}
      {% unless licensed %}
      {% assign region = wiki_data.country %}
      {% endunless %}

      {% assign dev = wiki_data.developer %}
      {% unless dev %}
        {% assign dev = wiki_data.publisher %}
      {% endunless %}

      {% if item.screenshot %}
        {% assign screenshot = item.screenshot %}
      {% else %}
        {% assign search = item.game | replace: ":", " -" %}
        {% assign libretro_file = site.data.libretro | where_exp: "i", "i.filename contains search" | first %}
        {% if libretro_file %}
          {% assign screenshot = libretro_file.filename %}
        {% endif %}
      {% endif %}
      <tr>
        <td class="rank" data-sort="{{ forloop.index }}">
          {% if forloop.index == 1 %}
            <img class="medal" src="assets/images/gold.gif">
          {% elsif forloop.index == 2 %}
            <img class="medal" src="assets/images/silver.gif">
          {% elsif forloop.index == 3 %}
            <img class="medal" src="assets/images/bronze.gif">
          {% else %}
            {{ forloop.index }}
          {% endif %}
        </td>
        <td class="title">
          <div class="title-wrapper">
            {% if screenshot %}
              <img class="screenshot" loading="lazy" data-action="zoom"
                src="https://wsrv.nl/?h=240&output=png&url=raw.githubusercontent.com/libretro-thumbnails/Sony_-_PlayStation/refs/heads/master/Named_Boxarts/{{ screenshot }}"
              >
            {% endif %}
            <div class="name" title="{{ wiki_data.title }}">
            {{ item.game }}
            </div>
            {% if screenshot %}
              <img class="screenshot titlescreen" loading="lazy" data-action="zoom" text-align="right"
                src="https://wsrv.nl/?h=240&output=png&url=raw.githubusercontent.com/libretro-thumbnails/Sony_-_PlayStation/refs/heads/master/Named_Titles/{{ screenshot }}"
              >
            {% endif %}
          </div>
        </td>
        <td class="country">
          {% if licensed %}
          <h2>&#x1F1FA;&#x1F1F8;</h2>
          {% elsif region == 'JP'%}
          <h2>&#x1f1ef;&#x1f1f5;</h2>
          {% else %}
          <h2>&#127466;&#127482;</h2>
          {% endif %}
        </td>
        <td class="date" data-sort="{{ wiki_data.date }}.{{ forloop.index }}">
          {{ wiki_data.date }}
        </td>
        <td class="dev">
          {% if dev %}
            <ul>
              {{dev}}
            </ul>
          {% endif %}
        </td>
        <td class="ep" data-sort="{{ item.ep }}.0.{{ forloop.index }}">
          {% if item.ytid %}
            <a href="https://www.youtube.com/watch?v={{ item.ytid }}">
              <img class="thumbnail"  loading="lazy"
                src="https://wsrv.nl/?url=i.ytimg.com/vi/{{ item.ytid }}/default.jpg"
              >{{ item.ep | replace: ".", "-" }}
            </a>
          {% else %}
            {{ item.ep | replace: ".", "-" }}
          {% endif %}
        </td>
        <td class="timestamp" data-sort="{{ item.ep }}.0.{{ item.seconds }}">
          {% if item.ytid and item.seconds %}
            <a href="https://www.youtube.com/watch?v={{ item.ytid }}&t={{ item.seconds }}s">
              {{ item.seconds | date: "%H:%M:%S"}}
            </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>


<section class="about">
  <h2>The list is
    <img src="assets/images/under-construction.gif" width="120">.
    See the <a href="./remaining.html">remaining</a> games.
  </h2>

  <p>
    This website is keeping track (somewhat in real time) of the rankings found at  <a href="https://www.youtube.com/playlist?list=PLdzRNPeduEAo">youtube.com/@Retro-GamesWithNic</a>.<br>
    If any information is missing or incorrect, <a href="mailto:gameswithnic@gmail.com">send me an email</a>.<br>
    Game details (developer, release date, ...) from <a href="https://en.wikipedia.org/wiki/List_of_Nintendo_Entertainment_System_games">Wikipedia</a>. Game images from <a href="https://github.com/libretro-thumbnails/libretro-thumbnails">Libretro</a>.
</section>
